pandas
streamlit
plotly
folium
streamlit_folium
us
branca
requests
git+https://github.com/yourusername/https://github.com/LukeShawket/SkillMatch-Data-Job-Matcher.git@main#egg=pdf_picker
pdfminer.six==20221105
re
spacy
spacy.training.example
spacy.matcher
