branca==0.8.1
en_core_web_sm @ https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.8.0/en_core_web_sm-3.8.0-py3-none-any.whl#sha256=1932429db727d4bff3deed6b34cfc05df17794f4a52eeb26cf8928f7c1a0fb85
folium==0.19.6
numpy==2.2.5
pandas==2.2.3
pdfminer.six==20250506
plotly==6.1.1
spacy
streamlit==1.45.1
streamlit_folium==0.25.0
us==3.2.0
